@import "../palette.css";

div.container {
  margin-top: 4em;
}

div.name_container {
  flex-grow: initial;
  min-width: 16em;
}

div.name_container h2 {
  color: var(--color1);
  font-weight: 0.9em;
  text-align: right;
}

div.member_container {
  padding: 0;
  flex-grow: initial;
}

div.member_row {
  width: 100%;
  justify-content: flex-start;
}

@media (max-width: 575.98px) {
  div.member_row {
    justify-content: center;
    margin: 0;
    margin-bottom: 2em;
  }

  div.name_container {
    margin: 0 auto;
  }

  div.name_container h2 {
    text-align: center;
  }
}
