@import "./palette.css";

.aboutContainer {
  background-color: var(--color1);
  color: var(--white);
}

.aboutContainer .title {
  font-weight: bold;
  padding-bottom: 20px;
}

.aboutContainer .countdownContainer {
  background-color: var(--color4);
  position: relative;
  top: 45px;
}

.aboutContainer .countdownContainer .number {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  line-height: 0.9;
}

.aboutContainer .countdownContainer .timeType {
  text-align: center;
}

@media screen and (max-width: 575px) {
  .aboutContainer .countdownContainer .number {
    font-size: 25px;
  }

  .aboutContainer .countdownContainer {
    font-size: 80%;
  }

  .aboutContainer .countdownContainer {
    top: 38.5px;
  }
}

@media screen and (max-width: 370px) {
  .aboutContainer .countdownContainer .number {
    font-size: 20px;
  }

  .aboutContainer .countdownContainer {
    font-size: 60%;
  }

  .aboutContainer .countdownContainer {
    top: 32px;
  }
}
