@import "./palette.css";
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

.logo {
  width: 10rem;
  height: 2rem;
}

.navbar {
  background-color: var(--color1);
  font-family: "Roboto", sans-serif;
}

.navLink {
  color: var(--white) !important;
  font-size: 0.9rem;
}

.navLink:hover,
.navLinkActive {
  border-bottom: 1px var(--white) solid;
}

@media (max-width: 768px) {
  .navLink:hover,
  .navLinkActive {
    border-bottom: none;
  }
}
