.sponsorsSection {
  margin-top: 5rem;
  margin-bottom: 8rem;
}

.h2 {
  text-align: center;
  font-weight: bold;
  color: var(--color1);
  margin-bottom: 5rem;
}

.headingLine {
  width: 3.5rem;
  height: 2px;
  margin: 0.2rem auto;
  color: var(--color1);
  background-color: var(--color1);
}

.sponsorsType {
  writing-mode: vertical-rl;
  transform: rotate(-180deg);
  color: white;
  text-align: center;
}

.mainSponsor {
  display: flex;
  margin-bottom: 5rem;
  background-color: var(--color1);
  height: 20%;
}

.mainSponsor .sponsorImage {
  width: 75%;
  height: 50%;
  margin: 0 auto;
}

.sponsorImage {
  width: 100px;
  height: 100px;
}
