.sponsorsSection {
  height: 100vh;
  margin-top: 5rem;
  margin-bottom: 8rem;
}

.h2 {
  text-align: center;
  font-weight: bold;
  color: var(--color1);
  margin-bottom: 5rem;
}

.headingLine {
  width: 3.5rem;
  height: 2px;
  margin: 0.2rem auto;
  color: var(--color1);
  background-color: var(--color1);
}

.sponsorsType {
  position: absolute;
  left: 5%;
  padding: 10px;
  writing-mode: vertical-rl;
  transform: rotate(-180deg);
  font-size: 1.5em;
  font-weight: 700;
  color: white;
  border-radius: 10px;
  border: 2px solid white;
}

.goldSponsor {
  color: var(--color2);
  border: 2px solid var(--color2);
}

.silverSponsor {
  color: var(--color3);
  border: 2px solid var(--color3);
}

.bronzeSponsor {
  color: var(--color4);
  border: 2px solid var(--color4);
}

.mainSponsor {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color1);
  height: 35%;
}

.mainWrapper {
  width: 75%;
  padding-right: 2.5%;
}

@media (max-width: 768px) {
  .sponsorsType {
    font-size: 1.5em;
  }

  .mainWrapper {
    width: 100%;
    padding-right: 0;
  }
}

@media (max-width: 600px) {
  .sponsorsType {
    font-size: 1em;
  }
}

.otherSponsors {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
}

.otherSponsors img {
  width: 20% !important;
  height: 20% !important;
}
