.sponsorsSection {
  margin-top: 5rem;
  margin-bottom: 8rem;
}

.h2 {
  text-align: center;
  font-weight: bold;
  color: var(--color1);
  margin-bottom: 5rem;
}

.headingLine {
  width: 3.5rem;
  height: 2px;
  margin: 0.2rem auto;
  color: var(--color1);
  background-color: var(--color1);
}

.sponsorsType {
  position: absolute;
  padding: 10px;
  writing-mode: vertical-rl;
  transform: rotate(-180deg);
  font-size: 1.5em;
  font-weight: bold;
  color: cyan;
  border-radius: 10px;
  border: 2px solid white;
}

@media (max-width: 766px) {
  .sponsorsType {
    font-size: 1.25em;
  }
}

@media (max-width: 600px) {
  .sponsorsType {
    font-size: 1em;
  }
}

.mainSponsor {
  background-color: var(--color1);
  text-align: center;
  align-content: center;
}

.mainSponsor .sponsorImage {
  width: 50%;
  margin: 0 auto;
}

.sponsorImage {
  width: 100px;
  margin-left: 100px;
}
