@import url("https://fonts.googleapis.com/css?family=Roboto");
@import "../common/palette.css";

.sticky {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  top: -1px;
  z-index: 4;
}

.top_bar {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 4;
}

.top_bar {
  width: 100%;
}
