.competitionText {
  font-size: 1.15em;
}

.conditions {
  background-color: var(--color3);
}

.conditionsText {
  font-size: 1.55em;
  font-weight: 600;
  margin-left: 15px;
  color: white;
}

.horizontalRuler {
  width: 65px;
  margin-left: 25px;
  margin-top: 0;
  border: 2px solid white;
}

.conditionList {
  margin-left: 15px;
  color: white;
}

@media (max-width: 500px) {
  .competitionText {
    font-size: 1em;
    padding-left: 10% !important;
    padding-right: 10% !important;
  }
}
