@import "../common/palette.css";

.image {
  width: 350px;
  height: 350px;
  border-radius: 10px 10px 10px 0;
}

.link {
  font-size: 2.5em;
  color: var(--color4);

  margin-right: 5px;
}

.link:hover {
  color: var(--color4);
  text-decoration: none;
}
